
@{
    ViewData["Title"] = "Perfil Professor";
}
<link href="~/css/paginas/perfilProfessor.css" rel="stylesheet" />
<!-- BREADCRUMB -->
<nav class="clean">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="../index.html" class="breadcrumb">Home</a>
            <a class="breadcrumb" href="agenda_professores.html">Agenda de Professores</a>
            <a href="verPefilProfessor.html" class="breadcrumb">Professor Diego Magalhaes</a>
        </div>
    </div>
</nav>

<div class="col s12 l3">
    <img src="../imgs/avatar-batman.png" class="img-responsive z-depth-2" width="200" height="200" id="fotoPerfil" title="Avatar">
</div>

<div class="col s12 l8">
    <h5 class="flow-text ">Diego Magalhaes</h5>
    <div class="divider"></div>
    <p><strong>Sexo: </strong> Masculino </p>
    <p><strong>Idade: </strong> 20 </p>
    <p>
        <strong>Modalidades Exercidas: </strong>
        <i class="material-icons" title="Musculação">fitness_center</i>
        <i class="material-icons" title="Natação">pool</i>

    </p>
    <p><strong>Dias de Aula:</strong> Seg, Ter </p>
    <br><br>
</div>

<div class="col s12 l12">
    <h5 class="flow-text"> Aulas Dadas </h5>
    <p>TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO </p>
    <br><br>
</div>

<div class="col s12 l12">
    <h5 class="flow-text"> Especializações </h5>
    <p>TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO </p>
</div>


