
@{
    ViewData["Title"] = "Estoque";
}

    <!-- BREADCRUMB -->
    <nav class="clean">
            <div class="nav">
                <div class="col s12">
                    <a href="index.html" class="breadcrumb">Principal</a>
                    <a class="breadcrumb" href="estoque.html">Estoque</a>
                </div>
            </div>
        </nav>

    <h5 class="flow-text">Estoque</h5>
    <table class="highlight centered tabelaPagamento">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produto</th>
                <th>Categoria </th>
                <th>Quantidade</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Cloro</td>
                <td><span>Limpeza</span> </td>
                <td>3</td>

            </tr>
            <tr>
                <td>2</td>
                <td>Boia</td>
                <td><span>Equipamentos</span></td>
                <td>3</td>

            </tr>
            <tr>
                <td>3</td>
                <td>Roupãp</td>
                <td><span>Roupas</span> </td>
                <td>3</td>


            </tr>
            <tr>
                <td>3</td>
                <td>Vassoura</td>
                <td><span>Limpeza</span> </td>
                <td>3</td>


            </tr>
            <tr>
                <td>3</td>
                <td>Sunga</td>
                <td><span>Roupas</span></td>
                <td>3</td>


            </tr>

        </tbody>
    </table>


