
@{
    ViewData["Title"] = "Modalidade";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/cadastro.css" />
    </environment>
</head>
<body>
    <!-- BREADCRUMB -->
    <div class="breadcrumbs">
        <div class="clean">
            <div class="">
                <a href="../index.html" class=""><font color=#000000>Home</font></a> >
                <a class=""><font color=#000000>Cadastro</font></a> >
                <a href="cadastro_modalidade.html" class=""><font color=#000000>Modalidade</font></a>
            </div>
        </div>
    </div>

    <div class="clean"></div>
    <div class="col s12 l12">
        <h4 class="flow-text">Cadastrar Modalidade</h4>
        <br><br>

        <form class="col s12 l12">
            <div class="input-field col s6">
                <input placeholder="Ex:Natação, Hidroginastica, Musculação, Judô..." id="modalidade" type="text" class="validate">
                <label for="modalidade">Nome da Modalidade</label>
            </div>

            <div class="input-field col s6">
                <input placeholder="Ex: Esporte tal tal tal..." id="desc" type="text"
                       class="validate">
                <label for="desc">Descricao</label>
            </div>

            <div class="col s12 l12">
                <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" href="#modalCadastrar"
                   >cadastrar</a>
            </div>

            <div id="modalCadastrar" class="modal">
                <div class="modal-content">
                    <h4 class="flow-text center">Modalidade Cadastrada!</h4>
                    <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
                       onclick="{redirect()}">sair</a>
                </div>
            </div>

        </form>

    </div>
</body>

