
@{
    ViewData["Title"] = "Modalidade";
}

<!-- BREADCRUMB -->
<div class="breadcrumbs">
    <div class="clean">
        <div class="">
            <a href="../index.html" class=""><font color=#000000>Home</font></a> >
            <a class=""><font color=#000000>Cadastro</font></a> >
            <a href="cadastro_modalidade.html" class=""><font color=#000000>Modalidade</font></a>
        </div>
    </div>
</div>

<div class="clean"></div>
<div class="col s12 l12">
    <h4 class="flow-text">Cadastrar Modalidade</h4>
    <br><br>

    <form class="col s12 l12" id="formularioAdicionar">
        <div class="input-field col s6">
            <input placeholder="Ex:Natação, Hidroginastica, Musculação, Judô..." id="modalidade" type="text" class="validate">
            <label for="modalidade">Nome da Modalidade</label>
        </div>

        <div class="input-field col s6">
            <input placeholder="Ex: Esporte..." id="descricao" type="text" class="validate" >
            <label for="desc">Descrição</label>
        </div>

        <div class="col s12 l12">
            <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Adicionar()">cadastrar</a>
        </div>

        @*<div id="modalCadastrar" class="modal">
                <div class="modal-content">
                    <h4 class="flow-text center">Modalidade Cadastrada!</h4>
                    <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
                       onclick="{redirect()}">sair</a>
                </div>
            </div>*@
    </form>
</div>

@section scripts{
    <script>
        function Adicionar() {
            var modalidade = { TipoModalidade: document.getElementById("modalidade").value, Descricao: document.getElementById("descricao").value, Ativo: true };
             $(function () {
                 $.ajax({
                     dataType: "json",
                     type: "POST",
                     url: "@Url.Action("Adicionar","Modalidade")",
                     data: { modalidade: modalidade },
                     success: function (dados) {
                         switch (dados) {
                             case "Preenchimento obrigatório":
                                 M.toast({ html: dados, classes: 'rounded orange'});
                             break;
                             case true:
                                 M.toast({ html: 'Salvo com sucesso!!!', classes: 'rounded green' });
                                 break;
                             case false:
                                 M.toast({ html: 'Já existe essas informações no sistema.', classes: 'rounded red' });
                             default:
                         }
                }
            });
        });
    }

    </script>
}
