@{
    ViewData["Title"] = "Colaborador";
}


<head>
    <style>
        nav.clean {
            background: none;
            box-shadow: none;
        }

            nav.clean .breadcrumb {
                color: black;
            }

                nav.clean .breadcrumb:before {
                    color: rgba(0, 0, 0, 0.7);
                }

        .breadcrumb {
            color: black;
            font-size: 15px;
        }

        .btn-flat {
            background-color: #af2405;
            color: #fff
        }

        .btn {
            background-color: #af2405;
        }

            .btn:hover {
                background-color: #7c1a04;
            }
        /* INPUT COLOR */
        .input-field input:focus + label {
            color: #af2405 !important;
        }

        .row .input-field input:focus {
            border-bottom: 1px solid #af2405 !important;
            box-shadow: 0 1px 0 0 #af2405 !important
        }
    </style>

</head>

<!-- BREADCRUMB -->
<nav class="clean container">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="@Url.Action("Index", "Principal")" class="breadcrumb">Principal</a>
            <a href="#" class="breadcrumb">Cadastro</a>
            <a href="@Url.Action("Index", "Colaborador")" class="breadcrumb"><strong>Colaborador</strong></a>
        </div>
    </div>
</nav>

<div class="row container">
    <div class="col s12 l12">
        <a href="#modalCadastrar" class="btn waves-effect waves-light modal-trigger right">Cadastrar Colaborador</a>
    </div>
</div>

<div id="modalCadastrar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Cadastrar Colaborador </h4>
        </div>


        <div class="col s12 l12">
            <form class="col s12 l12">
                <div class="input-field col s6">
                    <input placeholder="Ex: Ronaldo, Diego, Angela..." id="nomefunc" type="text" class="validate">
                    <label for="nomefunc">Nome do Funcionário</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Souza, Silva..." id="sobrenome" type="text" class="validate">
                    <label for="sobrenome">Sobrenome</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Analista, Recepcionista..." id="cargo" type="text" class="validate">
                    <label for="cargo">Cargo</label>
                </div>

            </form>
        </div>


    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="">Cadastrar</a>
    </div>
</div>


<div class="row container">
    <div class="col s12 l12">

        <table class="highlight centered tabela">
            <thead>
                <tr>
                    <th>Colaborador</th>
                    <th>Cargo</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Natacao</td>
                    <td>bla bla bla bla bla bla blas    </td>
                    <td>
                        <a class="btn-floating btn-sm waves-effect waves-light yellow modal-trigger" href="#modalEditar"><i class="material-icons" style="background-color:#f79f00">create</i></a>
                        <a class="btn-floating btn-sm waves-effect waves-light red modal-trigger" href="#modaExcluir"><i class="material-icons">delete_forever</i></a>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>

<div id="modalEditar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Editar Colaborador 'tal'</h4>
        </div>


        <div class="col s12 l12">
            <form class="col s12 l12">
                <div class="input-field col s6">
                    <input placeholder="Ex: Ronaldo, Diego, Angela..." id="nomefunc" type="text" class="validate">
                    <label for="nomefunc">Nome do Funcionário</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Souza, Silva..." id="sobrenome" type="text" class="validate">
                    <label for="sobrenome">Sobrenome</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Analista, Recepcionista..." id="cargo" type="text" class="validate">
                    <label for="cargo">Cargo</label>
                </div>

            </form>
        </div>


    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="">Editar</a>
    </div>
</div>


<div id="modaExcluir" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Tem certeza que deseja deletar o colaborador 'tal'?</h4>
        </div>


        <div class="col s12 l12">
            <form class="col s12 l12">
                <div class="input-field col s6">
                    <input placeholder="Ex: Ronaldo, Diego, Angela..." id="nomefunc" type="text" class="validate">
                    <label for="nomefunc">Nome do Funcionário</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Souza, Silva..." id="sobrenome" type="text" class="validate">
                    <label for="sobrenome">Sobrenome</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Analista, Recepcionista..." id="cargo" type="text" class="validate">
                    <label for="cargo">Cargo</label>
                </div>

            </form>
        </div>


    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="">Deletar</a>
    </div>
</div>

@section scripts{
    <script src="js/main.js"></script>
}