<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - inForma</title>
    <link rel="stylesheet" href="~/css/materialize.min.css">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/public.css" />

</head>
<body>
    <!-- TOP SIDE -->
    <nav>
        <div class="nav-wrapper" style="background-color: #af2405;">
            <ul class="left hide-on-med-and-down">
                <li>
                    <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
                        <i class="material-icons">menu</i>
                    </a>
                </li>
                <li>
                    <a asp-controller="Principal" asp-action="Index" style="position:relative" class="brand-logo"><img src="~/imgs/informa.png" width="200" class="img-responsive"></a>
                </li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a asp-controller="Principal" asp-action="Index">Home</a></li>
                <li><a asp-controller="Unidade" asp-action="Cadastrar">Unidade</a></li>
                <li><a asp-controller="Modalidade" asp-action="Cadastrar">Modalidade</a></li>
            </ul>
        </div>
    </nav>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background" style="background-color: #af2405;">
                    <img src="~/imgs/icon-informa.png" width="80" style="position: relative; left: 180px; top: 40px;">
                </div>
                <a href="#!user"><img class="circle" src="~/imgs/avatar-batman.png"></a>
                <a href="#!name"><span class="white-text name">Diego Magalhaes</span></a>
                <a href="#!email"><span class="white-text email">Recepcionista - Unidade Osasco</span></a>
            </div>
        </li>
        @*<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>*@
        <li><a class="subheader">Modulos</a></li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-blue ">
                    <i class="material-icons"
                       style="position: relative; left: 17px;">edit</i>Cadastro<i class="material-icons right"
                                                                                  style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a class="waves-effect waves-blue" asp-controller="Unidade" asp-action="Cadastrar"><span>Unidade</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-blue" asp-controller="Modalidade" asp-action="Cadastrar"><span>Modalidade</span></a>
                        </li>
                        <li><a class="waves-effect waves-blue" asp-controller="Funcao" asp-action="Cadastrar"><span>Tipo de Colaborador</span></a></li>
                        <li><a class="waves-effect waves-blue" asp-controller="Funcao" asp-action="Cadastrar"><span>Colaborador</span></a></li>
                        <li><a class="waves-effect waves-blue" asp-controller="Funcao" asp-action="Cadastrar"><span>Fornecedor</span></a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-blue ">
                    <i class="material-icons"
                       style="position: relative; left: 17px;">person_pin</i>Agenda <i class="material-icons right"
                                                                                       style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="waves-effect waves-blue" href="#"><span>Verificar tal coisa</span></a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-blue ">
                    <i class="material-icons"
                       style="position: relative; left: 17px;">person_pin</i>Matrícula <i class="material-icons right"
                                                                                          style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a class="waves-effect waves-blue" href="matricula/gerenciarPagamento.html">
                                <span>
                                    Gerenciar
                                    Pagamento
                                </span>
                            </a>
                        </li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-blue ">
                    <i class="material-icons"
                       style="position: relative; left: 17px;">person_pin</i>Financeiro <i class="material-icons right"
                                                                                           style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="waves-effect waves-blue" href="#"><span>Verificar tal coisa</span></a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-blue ">
                    <i class="material-icons"
                       style="position: relative; left: 17px;">person_pin</i>Estoque <i class="material-icons right"
                                                                                        style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body itensSubMenu">
                    <ul>
                        <li><a class="waves-effect waves-blue" href="#"><span>Verificar tal coisa</span></a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Catraca</a></li>
        <li><a class="waves-effect" href="#!">Cadastro ??</a></li>

        <div class="col s12 l12 center" style="position: relative; top:280px;">
            <img src="imgs/churrosteam.png" width="100" class="img-responsive">
        </div>
    </ul>

    <!-- CONTENT SIDE NAVBAR -->
    @*<ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background" style="background-color: #af2405;">
                    <img src="~/imgs/icon-informa.png" width="80" style="position: relative; left: 180px; top: 40px;">
                </div>
                <a href="#!user"><img class="circle" src="~/imgs/avatar-batman.png"></a>
                <a href="#!name"><span class="white-text name">Diego Magalhaes</span></a>
                <a href="#!email"><span class="white-text email">Recepcionista - Unidade Osasco</span></a>
            </div>
        </li>
        <li><a class="subheader">Modulos</a></li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a id="cadastro" class="collapsible-header waves-effect waves-blue">
                    <i class="material-icons"
                       style="position: relative; left: 17px;">edit</i>Cadastro<i class="material-icons right"
                                                                                  style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a class="waves-effect waves-blue"
                               href="cadastro/cadastro_unidade.html"><span>Unidade</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-blue"
                               href="cadastro/cadastro_modalidade.html"><span>Modalidade</span></a>
                        </li>
                        <li><a class="waves-effect waves-blue" href="#"><span>Tipo de Colaborador</span></a></li>
                        <li><a class="waves-effect waves-blue" href="#"><span>Colaborador</span></a></li>
                        <li><a class="waves-effect waves-blue" href="#"><span>Fornecedor</span></a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>*@
    <!-- FINAL MENU CADASTRO DROPDOWN -->
    @*<ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-blue ">
                    <i class="material-icons"
                       style="position: relative; left: 17px;">person_pin</i>Agenda <i class="material-icons right"
                                                                                       style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="waves-effect waves-blue" href="#"><span>Verificar tal coisa</span></a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>*@
    <!-- FINAL MENU AGENDA DROPDOWN -->
    @*<ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-blue ">
                    <i class="material-icons"
                       style="position: relative; left: 17px;">person_pin</i>Matrícula <i class="material-icons right"
                                                                                          style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a class="waves-effect waves-blue" href="matricula/gerenciarPagamento.html">
                                <span>
                                    Gerenciar
                                    Pagamento
                                </span>
                            </a>
                        </li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>*@
    <!-- FINAL MENU MATRICULA DROPDOWN -->
    @*<ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-blue ">
                    <i class="material-icons"
                       style="position: relative; left: 17px;">person_pin</i>Financeiro <i class="material-icons right"
                                                                                           style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="waves-effect waves-blue" href="#"><span>Verificar tal coisa</span></a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>*@
    <!-- FINAL MENU FINANCEIRO DROPDOWN -->
    @*<ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-blue ">
                    <i class="material-icons"
                       style="position: relative; left: 17px;">person_pin</i>Estoque <i class="material-icons right"
                                                                                        style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body itensSubMenu">
                    <ul>
                        <li><a class="waves-effect waves-blue" href="#"><span>Verificar tal coisa</span></a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>*@
    <!-- FINAL MENU ESTOQUE DROPDOWN -->
    @*<li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Catraca</a></li>
            <li><a class="waves-effect" href="#!">Cadastro ??</a></li>

            <div class="col s12 l12 center" style="position: relative; top:280px;">
                <img src="~/imgs/churrosteam.png" width="100" class="img-responsive">
            </div>
        </ul>*@
    <!-- FINAL DO SIDENAV -->
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <div>
        <main role="main" class="pb-3" style="padding:10px">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - inForma
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/materialize.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/menu.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
