
@{
    ViewData["Title"] = "Agenda Professor";
}

<nav class="clean">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="../index.html" class="breadcrumb">Home</a>
            <a class="breadcrumb">Cadastro</a>
            <a href="agenda_professores.html" class="breadcrumb">Agenda de Professores</a>
        </div>
    </div>
</nav>

<div class="col s12 l12">
    <h4 class="flow-text">Agenda de Professores</h4>
    <br><br>
    <form>
        <table class="highlight centered tabelaPagamento">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Professor</th>
                    <th>Modalidade Exercida</th>
                    <th>Dias de Aula</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Eclair</td>
                    <td><span>Musculação</span> </td>
                    <td>Seg, Ter</td>
                    <td>
                        <a href="verPefilProfessor.html" style="color:inherit">
                            <i class="material-icons"
                               title="Ver perfil">person_pin</i>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>Jellybean</td>
                    <td><span>Musculação</span></td>
                    <td>Quar, Sab</td>
                    <td>
                        <a href="verPefilProfessor.html" style="color:inherit">
                            <i class="material-icons"
                               title="Ver perfil">person_pin</i>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Lollipop</td>
                    <td><span>Musculação</span> </td>
                    <td>Dom, Quar</td>
                    <td>
                        <a href="verPefilProfessor.html" style="color:inherit">
                            <i class="material-icons"
                               title="Ver perfil">person_pin</i>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Lollipop</td>
                    <td><span>Musculação</span> </td>
                    <td>Terc, Qui</td>
                    <td>
                        <a href="verPefilProfessor.html" style="color:inherit">
                            <i class="material-icons"
                               title="Ver perfil">person_pin</i>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Lollipop</td>
                    <td><span>Musculação</span></td>
                    <td>Quin, Sab</td>
                    <td>
                        <a href="verPefilProfessor.html" style="color:inherit">
                            <i class="material-icons"
                               title="Ver perfil">person_pin</i>
                        </a>
                    </td>

                </tr>

            </tbody>
        </table>

    </form>

</div>

