
@{
    ViewData["Title"] = "Fornecedor";
}

<!-- BREADCRUMB -->
<nav class="clean">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="../index.html" class="breadcrumb">Home</a>
            <a class="breadcrumb">Cadastro</a>
            <a href="cadastro_fornecedor.html" class="breadcrumb">Cadastrar Fornecedor</a>
        </div>
    </div>
</nav>

<div class="col s12 l12">
    <h4 class="flow-text">Cadastrar Fornecedor</h4>
    <br><br>

    <form class="col s12 l12">
        <div class="input-field col s6">
            <input placeholder="Ex: Ýpê, PoolThings..." id="nomefunc" type="text" class="validate">
            <label for="nomefunc">Nome do Fornecedor</label>
        </div>

        <div class="input-field col s6">
            <input placeholder="Ex: Diego, Nathalia..." id="cargo" type="text" class="validate">
            <label for="cargo">Responsável</label>
        </div>

        <div class="col s12 l12">
            <a class="waves-effect waves-light btn modal-trigger right" href="#modalCadastroUnidade" style="background-color: #af2405;">cadastrar</a>
        </div>

        <div id="modalCadastroUnidade" class="modal">
            <div class="modal-content">
                <h4 class="flow-text center">Fornecedor Cadastrado!</h4>
                <p class="center">Clique em "SAIR" para voltar a página principal.</p>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
                   onclick="{redirect()}">sair</a>
            </div>
        </div>

    </form>

</div>

